/* Tasks 
1) DONE- quiz area should be higher up on mobile page
2) background image is too zoomed in for desktop/larger screens

*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    color: white;

}

/* .background {
    background: url(../images/page-background.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
} */

body {
    background: url(../images/page-background.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    /* overflow: hidden; makes body stational, immobile */
}

.all {
   /* height: 100vh; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1 {
    color: white;
    text-align: center;
    top: 20px;
    background-color: #5d6859;
   /* background-color: rgb(106, 90, 90); */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    width: 80vw;
    max-width: 80%;
    background-color: rgba(107, 95, 95, 0.895); /* Make completely opaque? */
    height: 75vh; 
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.modern {
    height: 151px;
    width: 291px;
}

.btn {
    font-size: 0.7rem;
    font-weight: bold;
    background: #fefefe;
    padding: 7px;
    color: black;
    font-weight: 200;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
}

.btn:hover {
    /* opacity: 0.7;  */
    background-color: #aab5a6;
}

.options {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.btn-option {
   /* display: block;  */
    width: 250px; /* How can I make this dynamic ?, e.g 80% width */
    padding: 10px;
    border-radius: 12px;
}

.controls .btn {
    border-radius: 12px;
}

.hide {
    display: none;
}

#question-text {
    font-size: 0.8rem;
    /* Needs to be higher up the page */
}

.form {
    font-size: 0.9rem;
}

#username {
    color: black;
    font-size: 0.7rem;
}

#usernameSubmit {
    color: black;
    background-color: white;
}

#usernameForm {
    margin-top: -20px;
    margin-bottom: 20px;
}

img {
    margin-top: 30px;
}

#nfImg img{
    height: 124px;
    width: 247px;
    object-fit: contain;
}

#horrorImg img {
    object-fit: contain;
    height: 180px;
    width: 270px;
}

#classicsImg img {
    object-fit: contain;
    height: 132px;
    width: 263px;
}

#mfImg img {
    object-fit: contain;
    height: 143px;
    width: 276px;
}

footer {
    background-color: #5d6859;
   /* background-color: #4a4a3f; */
   position: fixed;
   bottom: 0;
   width: 100%;
}

.social-media {
    margin-bottom: 0;
    text-align: center;
}

.social-media li {
    display: inline-block; 
    text-align: center;
   
}

.social-media i {
    font-size: 2rem;
    color: white;
    padding: 20px;
}

.social-media i:hover {
    color: rgba(205, 185, 185, 0.895);
}

.social-media a {
    text-decoration: none;
}

@media (min-width: 576px) {

    .title h1 {
        font-size: 1.4rem;
    }

    #username {
        font-size: 0.9rem;
    }

    #usernameSubmit {
        font-size: 1rem;
    }

    #question-text {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.9rem;
    }

    .btn-option {
        width: 350px;
    }

    #nfImg img{
        height: 180px;
        width: 360px;
        object-fit: contain;
    }
    
    #horrorImg img {
        object-fit: contain;
        /* height: 252px;
        width: 378px; */
        height: 180px;
        width: 360px;
    }
    
    #classicsImg img {
        object-fit: contain;
        height: 180px;
        width: 360px;
    }
    
    #mfImg img {
        object-fit: contain;
        height: 180px;
        width: 360px;
    }

    .social-media i {
        font-size: 2.2rem;
    }
}