/* Tasks 
1) DONE- quiz area should be higher up on mobile page
2) background image is too zoomed in for desktop/larger screens
3) PARTIALLY DONE- media queries for wide but short screen sizes (inc. split screen on my laptop)

*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    color: white;

}

html {
    background: url(../images/page-background.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100%;
}

.body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Get Down! How to Keep Footers at the Bottom of the Page- Matthew James Taylor */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Modal CSS Content */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    margin: auto;
    width: 100%;
    height: 100%;
}

.modal-content {
    margin: 17% auto;
    padding: 20px;
    width: 70%;
    height: 70%;
    background-color: #5d6859;
    box-shadow: 0 0 5px 4px;
    text-align: center;
}

#modalImg img {
    height: 153px;
    width: 250px;
    margin-top: 30px !important;
}

#closeBtn {
    margin-left: 80%;
    font-size: 2rem;
}

#closeBtn:hover,.closeBtn:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-size: 1rem;
    text-decoration: underline;
}

h2 {
    color: white;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    top: 20px;
    background-color: #5d6859;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

p {
    font-size: 0.9rem;
    margin-top: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    width: 80vw;
    max-width: 80%;
    background-color: rgba(107, 95, 95); 
    height: 70vh !important; /* To test on actual mobile to see if footer is eclipsed by container, was previously 70vh*/
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    font-size: 0.7rem;
    font-weight: bold;
    background: #fefefe;
    padding: 7px;
    color: black;
    font-weight: 200;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
}

.btn:hover {
    /* opacity: 0.7;  */
    background-color: #aab5a6 !important; /* Does this make final answer unclear? */
}

.options {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.btn-option {
   /* display: block;  */
    width: 250px; /* How can I make this dynamic ?, e.g 80% width */
    padding: 10px;
    border-radius: 12px;
}

.controls .btn {
    border-radius: 12px;
}

.hide {
    display: none;
}

#question-text {
    font-size: 0.8rem;
    /* Needs to be higher up the page */
    padding: 10px;
}

.form {
    font-size: 0.9rem;
}

#username {
    color: black;
    font-size: 0.7rem;
}

#nameLabel {
    font-size: 0.8rem;
}

#usernameSubmit {
    color: black;
    background-color: white;
    font-size: 0.8rem;
}

#usernameSubmit:hover {
    background-color: #aab5a6;
}

img {
    margin-top: 30px;
}

#nfImg img{
    height: 124px;
    width: 247px;
    object-fit: contain;
}

#horrorImg img {
    object-fit: contain;
    height: 180px;
    width: 270px;
}

#classicsImg img {
    object-fit: contain;
    height: 132px;
    width: 263px;
}

#mfImg img {
    object-fit: contain;
    height: 143px;
    width: 276px;
}

/* Get Down! How to Keep Footers at the Bottom of the Page- Matthew James Taylor */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #5d6859;
}

.social-media {
    margin-bottom: 0;
    text-align: center;
}

.social-media li {
    display: inline-block; 
    text-align: center; 
}

.social-media i {
    font-size: 2rem;
    color: white;
    padding: 20px;
}

.social-media i:hover {
    color: rgba(205, 185, 185, 0.895);
}

.social-media a {
    text-decoration: none;
}

/* Media Queries */

@media (min-width: 320px) {
    .title h2 {
        margin-bottom: 0;
    }
    .container {
        margin-top: 0 !important;
    }
    .modal-content {
        height: 60%;
        margin: 25% auto;
    }

    #modalImg img {
        margin: 10px;
        height: 100px;
        width: 165px;
    }
    p {
        font-size: 0.8rem;
    }
}

@media (min-width: 390px) {
    .container {
        margin-top: 20px !important;
    }
}

@media (min-width: 576px) {

    .title h2 {
        font-size: 1.4rem;
    }

    #username {
        font-size: 0.9rem;
    }

    #usernameSubmit {
        font-size: 1rem;
    }

    #question-text {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.9rem;
    }

    .btn-option {
        width: 350px;
    }

    #nfImg img{
        height: 180px;
        width: 360px;
        object-fit: contain;
    }
    
    #horrorImg img {
        object-fit: contain;
        /* height: 252px;
        width: 378px; */
        height: 180px;
        width: 360px;
    }
    
    #classicsImg img {
        object-fit: contain;
        height: 180px;
        width: 360px;
    }
    
    #mfImg img {
        object-fit: contain;
        height: 180px;
        width: 360px;
    }

    .social-media i {
        font-size: 2.2rem;
    }

    .modal-content {
        height: 60%;
        margin: 13% auto;
    }
    .container {
        margin-top: 0 !important;
    }
}

@media (min-width: 768px) {
    .title h2 {
        /* font-size: 1.6rem; */
        font-size: 1.7rem;
        margin-bottom: 30px;
        margin-top: 30px;
       /* margin-bottom: 15px;
        margin-top: 15px; */
    }

    h1 {
        margin-bottom: 20px;
        font-size: 1.3rem;
    }

    .container {
        /* margin-top: 0 !important; */
        margin-top: 40px !important;
    }

    #nameLabel {
        font-size: 1rem;
    }

    #username {
        font-size: 1rem;
    }

    #usernameSubmit {
        font-size: 1rem;
    }

    #question-text {
        /* font-size: 1.5rem; */
        font-size: 1.2rem;
        margin-top: -10px;
    }

    .btn {
        /* font-size: 1.3rem; */
        font-size: 1rem;
    }

    .btn-option {
        width: 500px;
    }

    .social-media i {
        font-size: 2rem;
    }

   #nfImg img {
    height: 234px;
    width: 468px;
    object-fit: contain;
    }
    
    #horrorImg img {
    height: 234px;
    width: 468px;
    object-fit: contain;
    }

    #classicsImg img {
    height: 234px;
    width: 468px;
    object-fit: contain;  
    }

    #mfImg img {
    height: 234px;
    width: 468px;
    object-fit: contain;
    }

    #modalImg img {
        margin-top: 100px;
    }
    .modal-content {
        margin: 16% auto;
        padding: 0;
        height: 70%;
    }

    #closeBtn {
        font-size: 4rem;
    }

    p {
        margin: 50px 30px;
        font-size: 1rem;
        
    }
    #modalImg img {
        /* width: 300px;
        height: 180px; */
        width: 360px;
        height: 216px;
    }
}

@media (min-width: 992px) {
   .title h2 {
        font-size: 1.5rem;
        margin-bottom: 0 !important;
    }
    #question-text {
        font-size: 1.7rem;
    }
    #nameLabel {
        font-size: 1.5rem;
    }
    #username {
        font-size: 1.5rem;
    }
    #usernameSubmit {
        font-size: 1.2rem;
    }
    .btn-option {
        font-size: 1rem !important;
    }
    .btn {
        font-size: 1rem;
    }
    #nfImg img {
    height: 327px;
    width: 655px;
    object-fit: contain;
    }
    #horrorImg img {
    height: 327px;
    width: 655px;
    object-fit: contain;
    }   
    #classicsImg img {
    height: 327px;
    width: 655px;
    object-fit: contain;  
    }
    #mfImg img {
    height: 327px;
    width: 655px;
    object-fit: contain;
    }
    .modal-content {
        margin: 11% auto;
        padding: 0;
        height: 70%;
    }
    .container {
        height: 70vh !important;
    }
    #closeBtn {
        font-size: 3rem;
    }
    #nameLabel {
        font-size: 1.1rem;
    }
    #username {
        font-size: 1.1rem;
    }
    #usernameSubmit {
        font-size: 1.1rem;
    }
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1400px) {
    .modal-content {
        margin: 8% auto;
    }
    .title h2 {
        font-size: 1.8rem;
    }
    .btn-option {
        font-size: 1.2rem;
    }
    .container {
        /* Check this doesn't effect any other styling */
        margin-top: 20px !important;
    }
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    #modalImg img {
        width: 450px;
        height: 275px;
        margin: 0;
    }
    .social-media i {
        font-size: 3rem;
    }
}

@media (max-height: 1000px) {
    .container {
        height: 65vh;
        margin-top: 20px;
    }
}

 
/* Styling specific to Nest Hub */
@media (width: 1024px), (height: 600px) {
    .container {
        height: 70vh;
        margin-top: 0 !important;
    }

    .social-media i {
        font-size: 2rem;
    }

    h2 {
        margin-bottom: 10px !important;
        margin-top: 10px !important; 
    }

    #question-text {
        font-size: 1.3rem;
    }

    .btn {
        font-size: 1rem;
    }

    .btn-option {
        width: 600px;
    }
    #nfImg img {
        height: 234px;
        width: 468px;
        object-fit: contain;
        }
        
        #horrorImg img {
        height: 234px;
        width: 468px;
        object-fit: contain;
        }
    
        #classicsImg img {
        height: 234px;
        width: 468px;
        object-fit: contain;  
        }
    
        #mfImg img {
        height: 234px;
        width: 468px;
        object-fit: contain;
        }
    p {
        margin-bottom: 0;
    }

    #modalImg img {
        height: 130px;
        width: 190px;
    }

    .modal-content {
        margin: 8% auto;
    }
} 

/* Styling specific to very small mobile screen, e.g Galaxy Fold */
 @media (max-width: 280px) { 

    .btn-option {
        width: 200px !important;
    }

    h2 {
        font-size: 0.9rem;
    }

    .container {
        height: 70vh;
    }

    #nfImg img{
        height: 144px;
        width: 200px;
        object-fit: contain;
    }
    
    #horrorImg img {
        object-fit: contain;
        /* height: 252px;
        width: 378px; */
        height: 144px;
        width: 200px;
    }
    
    #classicsImg img {
        object-fit: contain;
        height: 144px;
        width: 200px;
    }
    
    #mfImg img {
        object-fit: contain;
        height: 144px;
        width: 200px;
    }
    .modal-content {
        margin: 25% auto;
    }

    #modalImg img {
        height: 130px;
        width: 190px;
        margin-top: 10px;
    }

    h1 {
        font-size: 0.8rem;
    }

    p {
        font-size: 0.7rem;
    }
}