/* Tasks 
1) DONE- quiz area should be higher up on mobile page
2) background image is too zoomed in for desktop/larger screens
3) PARTIALLY DONE- media queries for wide but short screen sizes (inc. split screen on my laptop)

*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    color: white;

}

html {
    background: url(../images/page-background.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100%;
}

.body {
   /* height: 100vh; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Get Down! How to Keep Footers at the Bottom of the Page- Matthew James Taylor */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #aab5a6;
}

.modal-content {
    background-color: #aab5a6;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.close {
    color:rgba(205, 185, 185);
    font-size: 1rem;
    font-weight: bold;
}

.close:hover {
    color:rgba(107, 95, 95);
    text-decoration: none;
    cursor: pointer;
}

.background {
    min-height: 100%;
    position: relative;
}


h1 {
    color: white;
    text-align: center;
    top: 20px;
    background-color: #5d6859;
   /* background-color: rgb(106, 90, 90); */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    width: 80vw;
    max-width: 80%;
    background-color: rgba(107, 95, 95, 0.895); /* Make completely opaque? */
    height: 70vh !important; 
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    font-size: 0.7rem;
    font-weight: bold;
    background: #fefefe;
    padding: 7px;
    color: black;
    font-weight: 200;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
}

.btn:hover {
    /* opacity: 0.7;  */
    background-color: #aab5a6;
}

.options {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.btn-option {
   /* display: block;  */
    width: 250px; /* How can I make this dynamic ?, e.g 80% width */
    padding: 10px;
    border-radius: 12px;
}

.controls .btn {
    border-radius: 12px;
}

.hide {
    display: none;
}

#question-text {
    font-size: 0.8rem;
    /* Needs to be higher up the page */
    padding: 10px;
}

.form {
    font-size: 0.9rem;
}

#username {
    color: black;
    font-size: 0.7rem;
}

#nameLabel {
    font-size: 0.7rem;
}

#usernameSubmit {
    color: black;
    background-color: white;
    font-size: 0.8rem;
}

#usernameSubmit:hover {
    background-color: #aab5a6;
}

#usernameForm {
    margin-top: -20px;
    margin-bottom: 20px;
}

img {
    margin-top: 30px;
}

#nfImg img{
    height: 124px;
    width: 247px;
    object-fit: contain;
}

#horrorImg img {
    object-fit: contain;
    height: 180px;
    width: 270px;
}

#classicsImg img {
    object-fit: contain;
    height: 132px;
    width: 263px;
}

#mfImg img {
    object-fit: contain;
    height: 143px;
    width: 276px;
}

/* Delete below after checking it's not needed */
/* footer {
   bottom: 0;
   width: 100%;
   margin-bottom: 0;
   margin-top: auto;
} */

/* Get Down! How to Keep Footers at the Bottom of the Page- Matthew James Taylor */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #5d6859;
}

.social-media {
    margin-bottom: 0;
    text-align: center;
}

.social-media li {
    display: inline-block; 
    text-align: center; 
}

.social-media i {
    font-size: 2rem;
    color: white;
    padding: 20px;
}

.social-media i:hover {
    color: rgba(205, 185, 185, 0.895);
}

.social-media a {
    text-decoration: none;
}

/* Media Queries */

@media (min-width: 576px) {

    .title h1 {
        font-size: 1.4rem;
    }

    #username {
        font-size: 0.9rem;
    }

    #usernameSubmit {
        font-size: 1rem;
    }

    #question-text {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.9rem;
    }

    .btn-option {
        width: 350px;
    }

    #nfImg img{
        height: 180px;
        width: 360px;
        object-fit: contain;
    }
    
    #horrorImg img {
        object-fit: contain;
        /* height: 252px;
        width: 378px; */
        height: 180px;
        width: 360px;
    }
    
    #classicsImg img {
        object-fit: contain;
        height: 180px;
        width: 360px;
    }
    
    #mfImg img {
        object-fit: contain;
        height: 180px;
        width: 360px;
    }

    .social-media i {
        font-size: 2.2rem;
    }
}

@media (min-width: 768px) {
    .title h1 {
        /* font-size: 1.6rem; */
        font-size: 1.2rem;
        /* margin-bottom: 30px;
        margin-top: 30px; */
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .container {
        margin-top: 0 !important;
    }

    #nameLabel {
        /* font-size: 1.3rem; */
        font-size: 0.9rem;
    }

    #username {
        /* font-size: 1.2rem; */
        font-size: 0.9rem;
    }

    #usernameSubmit {
        /* font-size: 1.1rem; */
        font-size: 0.9rem;
    }

    #question-text {
        /* font-size: 1.5rem; */
        font-size: 1rem;
        margin-top: -15px;
    }

    .btn {
        /* font-size: 1.3rem; */
        font-size: 0.9rem;
    }

    .btn-option {
        width: 500px;
    }

    .social-media i {
        font-size: 2rem;
    }

   #nfImg img {
    height: 234px;
    width: 468px;
    object-fit: contain;
    }
    
    #horrorImg img {
    height: 234px;
    width: 468px;
    object-fit: contain;
    }

    #classicsImg img {
    height: 234px;
    width: 468px;
    object-fit: contain;  
    }

    #mfImg img {
    height: 234px;
    width: 468px;
    object-fit: contain;
    }
}

@media (min-width: 992px) {
   .title h1 {
        font-size: 2rem;
    }
    #question-text {
        font-size: 2rem;
    }
    #nameLabel {
        font-size: 1.5rem;
    }
    #username {
        font-size: 1.5rem;
    }
    #usernameSubmit {
        font-size: 1.2rem;
    }
    .btn-option {
        font-size: 1.2rem;
    }
    .btn {
        font-size: 1.2rem;
    }
    #nfImg img {
    height: 327px;
    width: 655px;
    object-fit: contain;
    }
    #horrorImg img {
    height: 327px;
    width: 655px;
    object-fit: contain;
    }   
    #classicsImg img {
    height: 327px;
    width: 655px;
    object-fit: contain;  
    }
    #mfImg img {
    height: 327px;
    width: 655px;
    object-fit: contain;
    }
}

@media (max-height: 1000px) {
    .container {
        height: 65vh;
        margin-top: 20px;
    }
}

 
/* Styling specific to Nest Hub */
@media (width: 1024px), (height: 600px) {
    .container {
        height: 70vh;
        margin-top: 0;
    }

    .social-media i {
        font-size: 2rem;
    }

    h1 {
        margin-bottom: 10px !important;
        margin-top: 10px !important; 
    }

    #question-text {
        font-size: 1.3rem;
    }

    .btn {
        font-size: 1rem;
    }

    .btn-option {
        width: 600px;
    }
    #nfImg img {
        height: 234px;
        width: 468px;
        object-fit: contain;
        }
        
        #horrorImg img {
        height: 234px;
        width: 468px;
        object-fit: contain;
        }
    
        #classicsImg img {
        height: 234px;
        width: 468px;
        object-fit: contain;  
        }
    
        #mfImg img {
        height: 234px;
        width: 468px;
        object-fit: contain;
        }
} 

/* Styling specific to very small mobile screen, e.g Galaxy Fold */
@media (height: 653px), (width: 280px) {

    .btn-option {
        width: 200px;
    }

    h1 {
        font-size: 0.9rem;
    }

    .container {
        height: 70vh; /* Content will fit appropriately when form section is hidden */
    }

    #nfImg img{
        height: 144px;
        width: 200px;
        object-fit: contain;
    }
    
    #horrorImg img {
        object-fit: contain;
        /* height: 252px;
        width: 378px; */
        height: 144px;
        width: 200px;
    }
    
    #classicsImg img {
        object-fit: contain;
        height: 144px;
        width: 200px;
    }
    
    #mfImg img {
        object-fit: contain;
        height: 144px;
        width: 200px;
    }

}